<div
  *ngIf="showInput"
  (click)="swallowClick($event)"
  class="news-button-panel">
  <div
    *ngIf="commodity === undefined"
    class="influence-button-panel">
    <button
      *ngFor="let commodityType of commodityTypeDict | keyvalue"
      (click)="selectedCommodityType = commodityType.value"
      [ngStyle]="{ 'border-style': ( selectedCommodityType === commodityType.value ? 'inset': 'outset' ) }">
      {{ commodityType.value.display }}
    </button>
  </div>

  <div class="influence-button-panel">
    <span *ngFor="let influenceLevel of influenceLevelList">
      <div>
        <button
          class="{{ influenceLevel }}-influence"
          (click)="createNewsItem(influenceLevel, 'up')"
          [innerHTML]="this.influenceArrowDict.UP | htmlEntity">
        </button>
      </div>
      <div>
        <button
          class="{{ influenceLevel }}-influence"
          (click)="createNewsItem(influenceLevel, 'down')"
          [innerHTML]="this.influenceArrowDict.DOWN | htmlEntity ">
        </button>
      </div>
    </span>
  </div>
</div>
