.news-button-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.influence-button-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.high-influence {
  color: red;
  background-color: black;
}

.medium-influence {
  color: yellow;
  background-color: black;
}

.low-influence {
  color: green;
  background-color: black;
}
