<td
  (mouseenter)="onMouseEnter('exchange')"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'mouse-hovering': mouseOverInvestmentTableCell.isExchangeRow
  }">
  <seg-sort-by
    arrowDirection="horizontal"
    sortByValue="exchange"
    (sort)="sortCommodityListByExchange($event)">
  </seg-sort-by>
</td>
<td
  *ngFor="let exchange of exchangeList"
  (mouseenter)="onMouseEnter(exchange.name)"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'inactive': (sortByValue !== 'exchange'),
    'mouse-hovering': (
      mouseOverInvestmentTableCell.exchangeName === exchange.name
      || mouseOverInvestmentTableCell.isExchangeRow
    )
  }"
  colspan="4">
  {{ exchange.name }}
</td>

<td colspan="2">
  <button
    (click)="clearNewsList()">
    clear news list
  </button>
</td>
