<!-- country table cell -->
<td
  (mouseenter)="onMouseEnter('country', 'commodity')"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'mouse-hovering': (
      mouseOverInvestmentTableCell.isCountryColumn
      || mouseOverInvestmentTableCell.isCommodityRow
    )
  }">
  <div class="sortable_cell_content">
    <seg-sort-by #sortByCommodity
      arrowDirection="horizontal"
      sortByValue="commodity"
      (sort)="sortCommodityListByCommodityName($event)"></seg-sort-by>
  </div>
  <div class="sortable_cell_content">
    <seg-sort-by #sortByCommodity
      arrowDirection="horizontal"
      sortByValue="influence"
      (sort)="sortCommodityListByInfluence($event)"></seg-sort-by>
  </div>
  <div class="sortable_cell_content">
    <seg-sort-by #sortByCountry
      arrowDirection="vertical"
      sortByValue="country"
      (sort)="sortCountryListByCountryName($event)"></seg-sort-by>
  </div>
</td>

<!-- commodityList table cell iterator -->
<td
  *ngFor="let commodity of commodityList"
  (mouseenter)="onMouseEnter(commodity.name, commodity.name)"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'mouse-hovering': (
      (
        mouseOverInvestmentTableCell.columnName === commodity.name
        || mouseOverInvestmentTableCell.rowName === 'commodity'
      )
      || (
        mouseOverInvestmentTableCell.exchangeName === commodity.exchangeName
        && mouseOverInvestmentTableCell.rowName === 'exchange'
      )
    )
  }">
  <div
    [style.background-color]="getInfluenceLevelBackgroundColor(undefined, commodity)"
    class="sortable_cell_content">
    <seg-sort-by
      arrowDirection="vertical"
      [sortByValue]="commodity.name"
      (sort)="sortCountryListByCommodityInvestment(commodity, $event)"></seg-sort-by>
  </div>
</td>

<!-- investmentProportionPerCommodity table cell -->
<td
  (mouseenter)="onMouseEnter('investmentProportionPerCommodity', '')"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'mouse-hovering': (
      mouseOverInvestmentTableCell.columnName === 'investmentProportionPerCommodity'
    )
  }">
  <span class="sortable_cell_content">
    <seg-sort-by
      arrowDirection="vertical"
      label="per commodity"
      sortByValue="investmentProportionPerCommodity"
      (sort)="sortCountryListByCountryStatistic('investmentProportionPerCommodity', $event)"></seg-sort-by>
  </span>
</td>

<!-- totalInvestmentProportion table cell -->
<td
  (mouseenter)="onMouseEnter('totalInvestmentProportion', '')"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'mouse-hovering': (
      mouseOverInvestmentTableCell.columnName === 'totalInvestmentProportion'
    )
  }">
  <span class="sortable_cell_content">
    <seg-sort-by
      arrowDirection="vertical"
      label="total"
      sortByValue="totalInvestmentProportion"
      (sort)="sortCountryListByCountryStatistic('totalInvestmentProportion', $event)"></seg-sort-by>
  </span>
</td>
