<div>news</div>
<div
  *ngFor="let news of newsList"
  class="news-item">
  <span>
    <button
      (click)="flipNews(news)"
      [innerHTML]=" getInfluenceArrow(news) | htmlEntity ">
    </button>
  </span>

  <span>
    {{ news.country?.name }}
    {{ news.commodity?.name }}
    {{ news.commodityType?.name }}
    {{ news.influenceLevel }}
    {{ news.direction }}
    {{ news.influence }}
  </span>

  <span>
    <button
      (click)="removeNews(news)"
      [innerHTML]=" '&#x274c;' | htmlEntity ">
    </button>
  </span>
</div>
