<td
  (click)="toggleNewsControls(country.name)"
  (mouseenter)="onMouseEnter(country.name)"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'mouse-hovering': (
      mouseOverInvestmentTableCell.columnName === 'country'
      || mouseOverInvestmentTableCell.rowName === country.name
    )
  }">
  <div
    [style.background-color]="getInfluenceLevelBackgroundColor(country, undefined)"
    class="sortable_cell_content">
    <seg-sort-by #sortByCountryInvestment
      arrowDirection="horizontal"
      [sortByValue]="country.name"
      (sort)="sortCommodityListByCountryInvestment($event)"></seg-sort-by>
  </div>
  <seg-news-input
    [country]="country"
    [(showInput)]="showNewsControlsDict[country.name]">
  </seg-news-input>
</td>
<td
  *ngFor="let commodity of commodityList"
  (click)="toggleNewsControls(commodity.name)"
  (mouseenter)="onMouseEnter(commodity.name)"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'mouse-hovering': (
      (
        mouseOverInvestmentTableCell.columnName === commodity.name
        || mouseOverInvestmentTableCell.rowName === country.name
      )
      || (
        mouseOverInvestmentTableCell.exchangeName === commodity.exchangeName
        && mouseOverInvestmentTableCell.rowName === 'exchange'
      )
    )
  }">
  <div
    *ngIf="country.commodityInvestmentDict[commodity.name]; else emptyCellTemplate"
    [style.background-color]="getInfluenceLevelBackgroundColor(country, commodity)">
    {{ country.commodityInvestmentDict[commodity.name] | number:numberFormat }}
    <seg-news-input
      [country]="country"
      [commodity]="commodity"
      [(showInput)]="showNewsControlsDict[commodity.name]">
    </seg-news-input>
  </div>
  <ng-template #emptyCellTemplate>
    &nbsp;
  </ng-template>
</td>
<td
  (mouseenter)="onMouseEnter('investmentProportionPerCommodity')"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'mouse-hovering': (
      mouseOverInvestmentTableCell.columnName === 'investmentProportionPerCommodity'
      || mouseOverInvestmentTableCell.rowName === country.name
    )
  }">
    {{ country.investmentProportionPerCommodity | number:numberFormat }}
</td>
<td
  (mouseenter)="onMouseEnter('totalInvestmentProportion')"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'mouse-hovering': (
      mouseOverInvestmentTableCell.columnName === 'totalInvestmentProportion'
      || mouseOverInvestmentTableCell.rowName === country.name
    )
  }">
    {{ country.totalInvestmentProportion | number:numberFormat }}
</td>
